
<!-- ENVUELVE EL CONTENIDO -->
<div class="home__contenedor">

  <!-- MENÚ -->
  <div class="home__contenedor-menu">
    <div class="home__contenedor-menu-lista">
      @for (item of menuItem(); track item.urlPath) {
        <a routerLinkActive="active-link" class="home__contenedor-menu-lista-item">
          <span class="material-symbols-rounded home__icon-material">{{item.icono}}</span>
          <p>{{item.titulo}}</p>
        </a>
      }
    </div>
    <div class="home__contenedor-menu-botones">
      @if (authService.isLoggedIn()) {
        <button (click)="logout()">
          Cerrar Sesión
        </button>
      }
    </div>
  </div>

  <!-- CONTENIDO -->
  <div class="home__contenedor-contenido">
    <router-outlet></router-outlet>
  </div>

</div>

